    <footer class="navbar navbar-fixed-bottom" class="muted">
      <div class="container">
        <p>{% for item in menu %} <a href="{{item.url}}">{{item.name}}</a> {%if not loop.last %}|{% endif %} {% endfor %}</p>
        <p>© Copyright 2013 Daniel Liew</p>
        <p>
          This site is powered by <a href="http://twitter.github.io/bootstrap/">Twitter Bootstrap</a> and
           <a href="https://github.com/hyde/hyde">Hyde</a>
        </p>
        <p><a href="https://github.com/delcypher/phd-imperial-website">See the source</a></p>
      </div>
    </footer>
